
<header>
  <nav class="navbar navbar-light navigation">
    <div class="container nav-padding">
      <a class="navbar-brand" href="{% url 'notes:home' %}">
        <span class="title"><b>Заметки</b></span>
      </a>
      {% if user.is_authenticated %}
          <div class="nav-item align-self-center mt-1">
            пользователя {{ user.username }}
          </div>
        <div class="spacer flex-grow-1"></div>
      {% endif %}
      <ul class="nav nav-pills">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link my-link {% if request.resolver_match.url_name == 'list' %}activel{% endif %}" href="{% url 'notes:list' %}">Список заметок</a>
          </li>
          <li class="nav-item">
            <a class="nav-link my-link {% if request.resolver_match.url_name == 'add' %}activel{% endif %}" href="{% url 'notes:add' %}">Новая заметка</a>
          </li>
          <li class="nav-item">
            <a class="nav-link my-link {% if request.resolver_match.url_name == 'logout' %}activel{% endif %}" href="{% url 'users:logout' %}">Выйти</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link my-link {% if request.resolver_match.url_name == 'login' %}activel{% endif %}" href="{% url 'users:login' %}">Войти</a>
          </li>
          <li class="nav-item">
            <a class="nav-link my-link {% if request.resolver_match.url_name == 'signup' %}activel{% endif %}" href="{% url 'users:signup' %}">Регистрация</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>